<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiro - きろ</title>
    <link rel="stylesheet" href="../Styles/chat.css" />
    <link rel="icon" type="image/x-icon" href="../src/48a0187ad067592dcbf7e3599387f61b.jpg">
  </head>
  <body>
    <div id="chat-container" class="chat-container">
      <h1>> Kiro</h1>
    </div>

    <div class="input-area">
      <input id="user-input" type="text" placeholder="ask..." />
      <button id="send-btn"><img src="https://thumb.ac-illust.com/3d/3dbd8f2170adede13b517e5ae17b3f97_t.jpeg"width="32px" height="32px" alt="Send"></button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="./chat.js"></script>
  </body>
</html>
