<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/chat.css" />
  </head>
  <body>
    <div id="chat-container" class="chat-container">
      <h1>> Kiro</h1>
    </div>

    <div class="input-area">
      <input id="user-input" type="text" placeholder="Type your message..." />
      <button id="send-btn"><img src="../src/send.jpg"width="32px" height="32px" alt="Send"></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="./chat.js"></script>
  </body>
</html>
